@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Barra de desplazamiento */
::-webkit-scrollbar {
  width: 6px;
  /* Ancho de la barra de desplazamiento (más delgada) */
  height: 6px;
  /* Altura de la barra de desplazamiento horizontal (más delgada) */
}

/* Estilo de la pista (fondo) de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background: transparent;
  /* Elimina el fondo de la pista */
}

/* Estilo del pulgar (la parte que se desplaza) */
::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Color del pulgar */
  border-radius: 10px;
  /* Bordes redondeados */
  transition: background-color 0.3s ease;
  /* Transición suave */
}

/* Estilo del pulgar cuando pasa el mouse sobre él */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* Color del pulgar al hacer hover */
}

/* Estilo de la barra de desplazamiento horizontal */
::-webkit-scrollbar-horizontal {
  height: 6px;
  /* Ajusta la altura de la barra horizontal */
}

/* Estilo de la barra de desplazamiento vertical */
::-webkit-scrollbar-vertical {
  width: 6px;
  /* Ajusta el ancho de la barra vertical */
}

body {
  font-family: 'Poppins', sans-serif;
}